#parent {
    text-align: center;
    width: 100%;
}
#container
    {
        display: inline-block;
        width:785px;
        height:610px;
        padding-top:20rem;
    }
.jsavcanvas
    {overflow:hidden}
.jsavarray
    {position:absolute}
.jsavcontainer
    {overflow:visible}
.jsavhighlight
    {font-size:110%}
.content {
    text-align: left;
}
